# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.swp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
slap

# Images
*.png
*.eps
*.ps
*.pdf
*.jpeg

# Unnecessary folders
.DS_Store
test
plot
results
Makefile
bin
share

# Script files
*.sh
DEFINE.h